$dark_blue: #29373f
$header_color: #ff411e
$button_color: #ff411e
$light_background_color: #ffffff
$light_text_color: #ffffff
$medium_text_color: #a2a2a2
$dark_text_color: #373737
$nav_item_count: 2
$nav_item_width: (100/$nav_item_count) * 1%
$thin_font: "Helvetica Neue", Helvetica, Arial, sans-serif
$normal_font: Helvetica, Arial, sans-serif


*
  box-sizing: border-box
  
body, html
  height: 100%
  width: 100%
  
body 
  font-family: $normal_font
  width: 100%
  min-width: 320px
  color: $dark_text_color

h1
  font-size: 64px
  font-weight: 800
  margin-bottom: .2em

h2
  font-size: 54px
  font-weight: 800
  margin-bottom: .2em

h3
  font-size: 38px
  margin-bottom: .2em
  color: $header_color

p
  font-size: 16px
  line-height: 1.5em
  margin-bottom: 1.5em
  &:last-child
    margin-bottom: 0

a
  text-decoration: none
  
header
  overflow: auto
  background-image: url('../images/bg_dray_grid.png')
  background-attachment: fixed

  a.logo
    width: 110px
    height: 110px
    margin: 15px 0 15px 15px
    float: left
    text-indent: -9999px
    display: block
    background-image: url('../images/logo_dray.svg')
    background-size: 110px 110px
    background-repeat: no-repeat
  nav
    display: none
  &.small
    header
      background-color: $dark_text_color
    
section
  width: 100%
  padding: 25px 20px
  overflow: auto
  ul
    li
      margin-bottom: .8em
      font-weight: bold
  
  &.hero
    padding: 140px 20px 60px 20px
    color: $light_text_color
    background-color: $dark_blue
    background-image: url('../images/bg_dray_grid.png')


    p
      font-size: 44px
      font-family: $thin_font
      font-weight: 200
      line-height: 30px
  
  &.copy
    background-color: $light_background_color
    p
      margin-bottom: 1.5em
      font-family: $thin_font
      font-weight: 200
      font-size: 24px
      line-height: 40px
      color: $medium_text_color
    ul
      li

        list-style-type: disc
      
  &.call-to-action
    background-color: $dark_blue
    a.link
      margin-bottom: 0
      color: $light_text_color
      text-align: center
      display: inline-block
      width: 100%
    a.button
      margin-bottom: 15px

  &.graphic
    display: none


  &.newsletter
    background-color: #f1f1f1
    p
      font-size: 22px
    input
      width: 100%
    input[type='email'], input[type='text']
      text-align: left
      border: 1px solid #aaa
      padding: 10px
      margin-bottom: 15px
    input[type='submit']
      color: $light_text_color
      background-color: #777
      font-size: 14px
      padding: 9px 20px
      border: none
      position: relative
      top: 1px
    
footer
  background-color: $light_background_color
  padding: 25px 20px
  small
    font-size: 12px
    float: right
  .logo
    height: 80px
    background: url('../images/ctl_logo_base.svg') 0 20px no-repeat #FFF
    background-size: 210px 45px
a.button
  display: block
  color: $light_text_color
  background-color: $button_color
  padding: 22px 0 20px
  text-align: center
  margin: 10px 0
  &:hover
    background-color: darken( $button_color, 20% )

@media screen and (min-width: 650px)
  section
    position: relative
    padding: 40px 25px
    z-index: 9999
    &.hero
      z-index: 42
      position: fixed
      top: 0
      a.button
        width: 40%
    &.call-to-action
      a.link
        margin: 30px 0 0 20px
        text-align: left
    &.newsletter
      input
        width: 48%
        font-size: 24px
      input[type='email'], input[type='text']
        float: left
        clear: left
        border: 0px
      input[type='submit']
        cursor: pointer
        width: 35%
        font-size: 24px
        top: 64px
        margin: 0 0 0 15px
        background-color: $dark_blue
  header
    position: fixed 
    top: 0
    z-index: 99999
    width: 100%
    height: 140px
    transition-property: all
    transition-duration: .3s
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1)
    a#nav-toggle
      display: none !important
    a.logo
      width: 110px
      height: 110px
      float: left
      text-indent: -9999px
      display: block
      background-size: 110px 110px
    
    nav
      display: block
      overflow: auto
      margin-top: 20px
      ul
        float: right
        overflow: auto
        li
          float: left
          margin-right: 20px
          a
            width: 100%
            display: block
            padding: 20px 
            color: $light_text_color
            text-align: center
            text-transform: uppercase
            letter-spacing: 1px
    &.small
      height: 70px
      a.logo
        width: 152px
        height: 56px
        margin: 0
        background-image: url('../images/logo_dray_long.svg')
        background-size: 147px 56px
        background-position: 5px 5px
      nav
        margin-top: 0
        ul
          li
            margin-right: 5px
            a
              font-size: 14px
              padding: 30px 25px 25px
  footer
    position: relative
    z-index: 99999
    small
      margin-top: 38px

  /* Columns */
  .column-60
    width: 59%
    padding: 0 20px 0 0

  .column-50
    width: 49%

  .column-40
    width: 39%
    
  .column-33
    width: 32%
    
  .left
    float: left
  
  .right
    float: right
  
  .inner
    overflow: hidden
    width: 100%
    max-width: 1000px
    margin: 0 auto